<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js" integrity="sha512-cyAbuGborsD25bhT/uz++wPqrh5cqPh1ULJz4NSpN9ktWcA6Hnh9g+CWKeNx2R0fgQt+ybRXdabSBgYXkQTTmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="script/footerAnimation.js"></script>
</head>
<body>
    <footer>
        <ul class="footer-ul">
            <a href="#"><li class="foot-icon"><i class="fas fa-home size"></i></li></a>
            <a href="#"><li class="foot-icon"><i class="fas fa-heart size"></i></li></a>
            <a href="#"><li class="foot-icon"><i class="fas fa-thumbs-up size"></i></li></a>
            <a href="#"><li class="foot-icon"><i class="fas fa-crown size"></i></li></a>
        </ul>
    </footer>
    <div id="post-btn">
        <img src="img/toukou.png" alt="" id="post-img">
        <div id="post-circle"></div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="script/footerAnimation.js"></script>
</body>
</html>