<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#"><img class="user_icon" src="img/user_icon.png" alt="ユーザーのアイコン"></a>
        <a href="#"><img class="tellepos_icon point" src="img/TELLEPOS_ICON.PNG" alt="TELLEPOSのアイコン" /></a>
    </header>
</body>
</html>