{% extends "profile_layout.html" %}

{% block body %}
    
<div class="container-fluid">
	<div class="row d-flex align-items-center justify-content-center">
		<img src="static/images/TELLEPOS_ICON.png" alt="" title="">
	</div>
	<div class="row my-5 pt-5">
		<div class="cp_iptxt"><label class="ef"><input type="text" placeholder="メールアドレス"></label></div>
	</div>
	<div class="row my-5 pt-3">
		<div class="cp_iptxt"><label class="ef"><input type="text" placeholder="パスワード"></label></div>
	</div>
	<div class="row">
		<div class="text-center"><a href="#" class="btn-flat-border btn-lg" style="font-size:17px;min-width:230px; margin-top:50px">ログイン</a></div>
		<a href="#" class="text-center" style="margin-bottom:50px; font-size:13px; color:#FFFFFF;" >新規登録はこちら</a>
	</div>
	
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

{% endblock %}
